@import "../../../mixins";

#design_section {
    .card-wrapper {
        flex-direction: row;
        display: flex;
        gap: 0px;

        width: 100%;
        justify-content: center;
    }
}

@media (max-width: $high-res) {
    #design_section {
        .card-wrapper {
            flex-wrap: wrap;
        }
    }
}