@import "../../../mixins";
$animation-duration: 4s; // Duration of one complete animation cycle
$animation-offset: 1s; // Time offset for individual image animations


#hero__section {
    .marker {
        top: 4px;
        height: 64px;
    }
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero__container {
    box-sizing: content-box;
    @include grid-width(12);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px 72px 64px;
    margin-top: 96px;
    background: url("/src/Resources/dots_bg.png");
    background-repeat: no-repeat;
    background-position: 35% 70%;

    .heading {
        min-width: 520px;
        width: 40%;
    }

    @include smooth();
}

.hero__ilustration {
    position: relative;
    margin-left: 50px;
    @include smooth();

    .human_avatar {
        z-index: -1;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
        border-radius: 99px;
    }

    .avatar-group--right {
        position: relative;
        left: -25px;
        top: -578px;
        transform: scaleX(-1);
    }

    .avatar-group--left,
    .avatar-group--right {
        .human_avatar_1 {
            @include sinusoidal-animation($animation-offset, true);
            top: 80px;
            left: -70px;
            width: 70px;
            height: 70px;
            background-image: url("/src/Resources/Avatars/Avatar.png");

        }

        .human_avatar_2 {
            @include sinusoidal-animation(-$animation-offset, true);
            top: 370px;
            left: -70px;
            width: 65px;
            height: 65px;
            background-image: url("/src/Resources/Avatars/Avatar1.png");
        }

        .human_avatar_3 {
            @include sinusoidal-animation(-$animation-offset, true);

            top: 265px;
            left: -114px;
            width: 35px;
            height: 35px;
            background-image: url("/src/Resources/Avatars/Avatar2.png");
        }

        .human_avatar_4 {
            @include sinusoidal-animation(-$animation-offset*2, true);
            top: 220px;
            width: 53px;
            height: 53px;
            background-image: url("/src/Resources/Avatars/Avatar3.png");
        }


        .human_avatar_5 {
            @include sinusoidal-animation(-2 * $animation-offset, true);
            top: 40px;
            width: 70px;
            height: 70px;
            background-image: url("/src/Resources/Avatars/Avatar6.png");

        }

        .human_avatar_6 {
            @include sinusoidal-animation(-$animation-offset*1/2, true);
            top: 280px;
            left: -70px;
            width: 65px;
            height: 65px;
            background-image: url("/src/Resources/Avatars/Avatar4.png");
        }

        .human_avatar_7 {
            @include sinusoidal-animation(-$animation-offset*3/4, true);

            top: 165px;
            left: -35px;
            width: 35px;
            height: 35px;
            background-image: url("/src/Resources/Avatars/Avatar5.png");
        }

        .human_avatar_8 {
            @include sinusoidal-animation(-$animation-offset, true);
            top: 180px;
            left: 60px;
            width: 53px;
            height: 53px;
            background-image: url("/src/Resources/Avatars/Avatar7.png");
        }
    }


}

.hero__multitasking {
    width: 590px;
    height: 590px;
    @include smooth();
}

@keyframes random-movement {

    0%,
    100% {
        transform: translate(0, 0) rotate(0deg) scale(1);
    }

    25% {
        transform: translate(-2px, -2px) rotate(2deg) scale(0.95);
    }

    50% {
        transform: translate(2px, 2px) rotate(-2deg) scale(1.03);
    }

    75% {
        transform: translate(-1px, 1px) rotate(1deg) scale(0.98);
    }
}

.hero__multitasking {
    animation: random-movement 6s infinite ease-in-out;
}

@media (max-width: $high-res) {
    .hero__container {
        padding: 0 0 72px 0;
        @include smooth();
    }

    .hero__multitasking {
        width: 450px;
        @include smooth();
    }

}

@media (max-width: $laptop) {
    .hero__ilustration {
        position: relative;
        margin-left: -238px;
        opacity: 0.25;
        z-index: -1;
        transition: all 0.66s cubic-bezier(0.22, 1, 0.36, 1);
    }
}

@media (max-width: $small-tablet) {
    .hero__ilustration {
        position: relative;
        margin-left: 50px;
        left: -443px;
        top: -55px;
        z-index: -10;
        opacity: 0.05;
        @include smooth();
    }

    .hero__multitasking {
        width: 550px;
        @include smooth();
    }

    .avatar-group--right,
    .avatar-group--left {
        display: none;
    }

    .hero__container {
        .heading {
            width: 100%;
            min-width: unset;
        }
    }



}