@import "../../../mixins";

.heading {
    font-family: 'Epilogue', sans-serif;

}

.heading__title {
    color: $primary-black;
    font-size: 64px;
    font-weight: 800;
    line-height: 105%;
    @include smooth;
}

.heading__subtitle {
    color: $text-gray;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    @include smooth;
}