@import "../../../mixins";

$card-padding: 20px 50px 10px 50px;
$card-border-radius: 12px;
$card-border: 2px solid $primary-black;
$card-box-shadow: 0px -11px 0px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

.vertical-card {
    position: relative;
    box-sizing: border-box;
    font-family: Epilogue;
    display: flex;
    padding: $card-padding;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 315px;
    border-radius: $card-border-radius;
    border: $card-border;
    box-shadow: $card-box-shadow;

    .vertical-card__content {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .vertical-card__title,
    .vertical-card__description,
    .vertical-card__ilustration,
    .button {
        z-index: 2;
    }

    .vertical-card__title,
    .vertical-card__description {
        text-align: center;
    }

    .vertical-card__title {
        font-size: 24px;
        font-weight: 800;
    }

    .vertical-card__description {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 32px;
    }

    .button {
        padding: 6px 36px;
    }

    &--red,
    &--blue {
        background-color: $red;


        .vertical-card__title {
            color: $white;
        }

        .vertical-card__description {
            color: $text-white-text-light;
        }
    }

    &--blue {
        background-color: $blue;
    }

    &--yellow {
        background-color: $yellow;
        color: $primary-black;

        .vertical-card__description {
            color: $text-gray;
        }
    }

    &--blue:before,
    &--red:before {
        @include grid-pattern('white', 160px, 0.6);
    }

    &--yellow:before {
        @include grid-pattern('black', 260px, 1);
    }

    .vertical-card__ilustration {
        max-width: 215px;
    }
}

.vertical-card:hover {
    @include hover(false);
}