@import "../../../mixins";
@import "../Button/button";



.hamburger {
  position: relative;
  display: none;
  padding: 16px;
  @extend .button;
  @extend .button--filled;
  @extend .button--black;


  @include smooth;

  .hamburger__icon {
    display: flex;
    align-items: center;
  }
}

.hamburger:hover {
  @include hover(false);
}

.hamburger__dropdown {

  position: absolute;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  right: 0;
  border-radius: 0;
  top: 100px;

  display: flex;
  flex-direction: column;
  gap: 36px;
  background: $white;
  border: 1px solid $outline;
  padding: 24px;
  @include smooth;
}