@import "../../../mixins";

.button {
    cursor: pointer;
    font-family: Outfit;
    padding: 12px 36px;
    justify-content: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    @include smooth;

    &.button--filled {
        &.button--primary {
            color: $bello-secondary;
            border: 2px solid $bello-secondary;
            background: $bello-primary;
            box-shadow: 0px 4px 0px 0px $bello-secondary;

            fill: $bello-secondary;
        }

        &.button--black {
            color: $white;
            border: 2px solid $primary-black-darker;
            background: $primary-black;
            box-shadow: 0px 4px 0px 0px $primary-black-darker;

            fill: $white;
        }

        &.button--secondary {
            color: $white;
            border: 2px solid $primary-black-darker;
            background: $bello-secondary;
            box-shadow: 0px 4px 0px 0px $primary-black-darker;

            fill: $white;
        }

        &.button--blue {
            color: $white;
            border: 2px solid $primary-black-darker;
            background: $blue;
            box-shadow: 0px 4px 0px 0px $primary-black-darker;

            fill: $white;
        }
    }

    &.button--outlined {
        &.button--black {
            border-radius: 7px;
            border: 2px solid $outline;
            background: $white;
            box-shadow: 0px 4px 0px 0px #CCC;
        }
    }

    &.button--ghost {
        color: $primary-black;
        font-family: Outfit;
        font-size: 16px;
        border: none;
        background: none;
        font-weight: 600;

    }
}

.button:hover {
    cursor: pointer;
    @include hover(false);
}