.button {

    font-family: Outfit;
    padding: 12px 36px;
    justify-content: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;


    &.button__filled {
        &--primary {
            color: var(--bello-secondary, #163B40);
            border: 2px solid var(--bello-secondary, #163B40);
            background: var(--bello-primary, #01F680);
            box-shadow: 0px 4px 0px 0px #163B40;
        }

        &--black {
            color: var(--white, #FFF);
            border: 2px solid var(--primary-black-darker, #23282E);
            background: var(--primary-black, #292F36);
            box-shadow: 0px 4px 0px 0px #23282E;
        }
    }

    &.button__outlined {
        &--black {
            border-radius: 7px;
            border: 2px solid var(--outline, rgba(0, 0, 0, 0.20));
            background: var(--white, #FFF);
            box-shadow: 0px 4px 0px 0px #CCC;
        }
    }
}

.button:hover {
    cursor: pointer;
}