@mixin grid-pattern($color, $size: "cover", $opacity: 0.6) {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: $opacity;

    @if $color =='black' {
        background-image: url("/src/Resources/gridpatternblack.png");
        opacity: $opacity * 2;
    }

    @else {
        background-image: url("/src/Resources/gridpattern.png");
    }


    background-size: $size;
    z-index: 0;
}

@mixin checker-pattern($border-radius: 0, $opacity: 0.05, $background-size: 50%) {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: $opacity;
    background-size: $background-size;
    background-repeat: repeat;
    background-image: url("/src/Resources/checkerpattern.png");
    border-radius: $border-radius;
    z-index: 0;

}