$primary-black: #292F36;
$primary-black-darker: #23282E;
$white: #FFFFFF;
$outline: hsla(0, 0%, 0%, 0.2);
$primary-light-gray: #EBF0F9;
$red: #FF5776;
$blue: #0FA0FF;
$yellow: #FFD900;
$purple: #9867FF;
$icons-shadow-light: #FFFFFF;
$icon-shadow-dark: hsla(212, 13%, 19%, 0.151);
$icon-shadow-blue: #50B5F2;
$card-ilustration-outline: #5B5B5B;
$footer-darker-accent: #222222;
$footer-background: #163B40;
$bello-secondary: #163B40;
$bello-primary: #01F680;
$text-gray: #5E5E70;
$text-white-text-light: hsla(0, 0%, 100%, 0.8);

$utils-green: #05B742;