@import "partials";
@import "colors";

img {
  pointer-events: none;
  user-select: none;
}

svg {
  width: inherit;
  height: inherit;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url("../src/Resources/gridpatternblack.png");
  background-size: 20%;
}

.bello_container {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;
  padding: 0 64px;
  max-width: 1440px;
  margin: 0 auto;
}



.yellow-marker {
  position: relative;
  display: block
}

.yellow-marker::after {
  z-index: -1;
  top: 20px;
  left: 0;
  position: absolute;
  display: inline;
  content: "";
  width: 100%;
  min-width: 25px;
  height: 36px;
  background: #FFD900;
  padding-right: 50px;
}

.typing-word-wrapper {
  display: inline-flex;
}


.typing-word--empty {
  visibility: hidden;
  width: 1px;
}

.typing-word__cursor::after {

  content: "";
  display: inline-flex;
  width: 4px;
  margin-left: 10px;
  height: 67px;
  background-color: #292F36;
  animation: blink 0.5s ease infinite alternate-reverse;

  @keyframes blink {
    from {
      opacity: 100%;
    }

    to {
      opacity: 0%;
    }
  }
}