@import "partials";
@import "colors";

img {
  pointer-events: none;
  user-select: none;
}


* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url("../src/Resources/gridpatternblack.png");
  background-size: 20%;
}

.bello_container {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;
  padding: 0 64px;
  max-width: 1440px;
  margin: 0 auto;
}