@import "partials";
@import "colors";
@import "mixins";

::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-thumb {
  background-color: $text-gray;
  border-radius: 99px;

}

::-webkit-scrollbar-track {
  background-color: $primary-light-gray;

}

::-webkit-scrollbar-track:hover {
  background-color: #aaa;
}

a {
  color: unset;
}

img {
  pointer-events: none;
  user-select: none;
}

svg {
  width: inherit;
  height: inherit;
}

* {
  transition: all 500ms ease-in-out;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url("../src/Resources/gridpatternblack.png");
  background-size: 20%;
}

h2 {
  color: $primary-black;
  text-align: center;
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%;

}

.text--white {

  color: $white;
}

.text--primary {

  color: $bello-primary;
}

.bello_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;
  padding: 0 64px;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}



.typing-word-wrapper {
  display: inline-flex;
}


.typing-word--empty {
  visibility: hidden;
  width: 1px;
}

.typing-word__cursor::after {

  content: "";
  display: inline-flex;
  width: 4px;
  margin-left: 10px;
  height: 67px;
  background-color: #292F36;
  animation: blink 0.5s ease infinite alternate-reverse;

  @keyframes blink {
    from {
      opacity: 100%;
    }

    to {
      opacity: 0%;
    }
  }
}

.toastBody {
  font-family: Epilogue;

  font-size: 16px !important;
}